<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <title>Document</title>
</head>
<body>
<nav class="navMenu">
    <a href="#">Home</a>
    <a href="#">Blog</a>
    <a href="#">Work</a>
    <a href="#">About</a>
    <div class="dot"></div>
</nav>
<div class="container">
    <div class="hero">
        <div class="poly">
            <h1 class="dagetrip" style="color: white">DAGETRIP</h1>
            <h2 style="color: white">Ваш помощник для туризма по Дагестану</h2>
        </div>
        <h1 style="color: white;">Выберите тип туристической поездки</h1>
        <div class="buttons_plate">
            <a href="#" class="buttonns" ,
               data-tooltip="Посещение исторических, культурных или географических достопримечательностей.">ИСТОРИКО-КУЛЬТУРНЫЙ</a>
            <a href="#" class="buttonns" ,
               data-tooltip="Поездки с целью отдыха, оздоровления, восстановления физических, психических и эмоциональных сил.">РЕКРЕАЦИОННЫЙ</a>
            <a href="#" class="buttonns" ,
               data-tooltip="Путешествие с целью ознакомления с особенностями национальной кухни.">ГАСТРОНОМИЧЕСКИЙ</a>
            <a href="#" class="buttonns" ,
               data-tooltip="Захватывающие путешествия с физической нагрузкой и тесным взаимодействием с природой.">АКТИВНЫЙ</a>
        </div>
    </div>
</div>
</body>
</html>